//variables
$bgColor: #010101;
$hoverColor: #ff0000;
$secondColor: #FFB548;
$thirdColor: #808080;
$color: #ffffff;
$mainFontFamily: "Open Sans", sans-serif;
$titleFontFamily: "Bebas Neue", sans-serif;
$btnColor: #1A1917;

//mixins
@mixin textStyle ($fontSize: 18px, $lineH: 22px, $fontW: 400){
    font-size: $fontSize;
    line-height: $lineH;
    font-weight: $fontW;
}

html {
    box-sizing: border-box;
}

body{
    @include textStyle();
    background-color: $bgColor;
    position: relative;
    overflow-x: hidden;
    font-family: $mainFontFamily;
    color: $color;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
  }

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.title,
.second-title{
    letter-spacing: 3px;
    font-family: $titleFontFamily;
    text-transform: uppercase;
}

.title{
    @include textStyle($fontSize: 68px, $lineH: 80px);
}

.second-title{
    @include textStyle($fontSize: 60px, $lineH: 70px);
}

.main-btn{
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
    outline: none;
    border: none;
    padding: 19px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #FFB548 0%, #F3AF34 100%);
    border-radius: 4px;
    color: $btnColor;
    @include textStyle($fontSize: 16px, $lineH: 22px, $fontW: 600);
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus-visible{
       box-shadow: 2px 2px $btnColor;
       outline: none; 
       cursor: pointer;
    }
}

//header
.header{

    &__inner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 21px 0;
    }

    &__logo{
        max-width: 62px;
        margin-right: 195px;
    }
}
//nav-menu
.menu{
    &__list{
        display: flex;
        column-gap: 48px;
        align-items: center;
    }

    &__link{
        @include textStyle($fontSize: 12px, $lineH: 16px, $fontW: 600);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.3s ease-in-out;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 0;
            border-radius: 4px;
            height: 3px;
            transition: width 0.3s, right 0.3s;
            background-color: $secondColor;
        }

        &:hover::after{
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

//banner
.banner{
    padding-top: 240px;
    padding-bottom: 416px;

    &__title,
    &__subtitle{
        text-align: center;
        margin-bottom: 18px;
    }

    &__subtitle{
        text-align: center;
        font-family: $titleFontFamily;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include textStyle($fontSize: 24px, $lineH: 30px);
    }
}

.bg-wrapper{
    background: radial-gradient(circle, rgba(255, 181, 72, 0) 0%,  rgba(52, 44, 29, 0.8032) 73%, rgba(8, 9, 10, 1) 100%),
    url('../images/bg-img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//about
.about{
    padding-top: 204px;
    padding-bottom: 138px;
    margin-bottom: 84px;

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__text-content{
        max-width: 60%;
        margin-right: 30px;
        width: 100%;
        margin-top: 72px;
    }

    &__subtitle{
        letter-spacing: 2px;
        @include textStyle($fontSize: 24px, $lineH: 30px);
        font-family: $titleFontFamily;
        margin-bottom: 8px;
    }

    &__title{ 
        border-bottom: 2px solid #ffffff; 
        margin-bottom: 60px;
    }

    &__text{
        max-width: 500px;
        margin: 0 auto 10px;
    }

    &__img{
        max-width: 502px;
    }
}

//features
.features{
    margin-bottom: 165px;

    &__subtitle{
        letter-spacing: 2px;
        @include textStyle($fontSize: 24px, $lineH: 30px);
        font-family: $titleFontFamily;
        margin-bottom: 8px;
    }

    &__title{
        margin-bottom: 145px;
    }

    &__items{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item-container-img{
       width: 60px;
       height: 60px;
       border-radius: 20px;
       background-color: #FFB548;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
    }

    &__item-img{
        max-width: 50px;
    }

    &__item{
        text-align: center;
        max-width: calc(33.33% - 20px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    &__item-title{
        color: $secondColor;
        @include textStyle($fontSize: 25px, $lineH: 1.2); 
    }

}

.footer{
    padding: 20px 0 40px;

    &__inner,
    &__wrapper,
    &__social-list{
        display: flex;
        align-items: center;
    }

    &__inner{
        justify-content: space-between;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ffffff;
    }

    &__wrapper{
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 25px;
    }

    &__social-list{
        gap: 56px;
    }

    &__social-img path{
        transition: all 0.3s ease-in-out;
    }

    &__social-img:hover path {
        fill: $hoverColor;
    }

    &__logo-img{
        max-width: 90px;
    }

    &__nav-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        max-width: 50%;
        width: 100%;
    }

    &__copyright{
        color: $thirdColor;
        @include textStyle($fontSize: 14px, $lineH: 20px);
    }

    &__contact{
        @include textStyle($fontSize: 12px, $lineH: 16px, $fontW: 600);
        text-transform: uppercase;

        &-email{
            display: inline-block;
            margin-left: 5px;
            transition: all 0.4s ease-in-out;
            border-bottom: 1px solid transparent;

            &:hover{
                border-bottom-color: $secondColor;
                color: $secondColor;
            }
        }
    }
}

@media screen and (max-width: 1280px){
    .title{
        @include textStyle($fontSize: 45px, $lineH: 55px);
    }

    .second-title{
        @include textStyle($fontSize: 38px, $lineH: 48px);
    }

    .banner{
        padding-top: 120px;
        padding-bottom: 250px;

        &__subtitle{
            @include textStyle($fontSize: 22px, $lineH: 28px);
        }
    }

    .about{
        padding: 120px 0;
        margin-bottom: 0;

        &__text-content {
            max-width: 43%;
        }
    }

    .features{
        padding-top: 30px;
        &__items{
            gap: 20px;
        }

        &__item{
            max-width: calc(33.33% - 13px);
        }

        &__item-title{
            color: $secondColor;
            @include textStyle($fontSize: 22px, $lineH: 1.2); 
        }
    }

    .footer{
        &__nav-content{
            max-width: 55%;
        }
    }

}

@media screen and (max-width: 1024px){
    body{
        @include textStyle($fontSize: 16px, $lineH: 20px);
    }

    .second-title{
        @include textStyle($fontSize: 34px, $lineH: 44px);
    }

    .bg-wrapper{
        background-position: top center;
    }

    .header{
        &__logo{
            margin-right: 90px;
        }
    }

    .about{
        &__img{
            max-width: 100%;
        }

        &__img-content{
            max-width: 45%;
        }

        &__text-content{
            max-width: 50%;
            margin-top: 20px;
        }

        &__title{
            margin-bottom: 40px;
        }
    }

    .features{
        &__items{
            flex-direction: column;
            gap: 50px;
        }

        &__title{
            margin-bottom: 60px;
        }

        &__item{
            max-width: 60%;
            text-align: left;
        }

        &__item-container-img{
            margin: 0 auto 0 0;
        }
    }

    .footer{
        &__logo-img {
            max-width: 70px;
        }

        &__social-list {
            gap: 50px;
        }

        &__nav-content{
            gap: 40px;
            max-width: 60%;
            justify-content: flex-start;
        }
    }

    .menu__list{
        gap: 30px;
    }
}

@media screen and (max-width: 768px){
    .main-btn {
        max-width: 220px;
        padding: 13px 20px;
        @include textStyle($fontSize: 14px, $lineH: 22px, $fontW: 600);
    }

    .menu{
        display: none;
    }

    .title{
        letter-spacing: 2px;
        @include textStyle($fontSize: 30px, $lineH: 38px);
    }

    .second-title{
        letter-spacing: 2px;
        @include textStyle($fontSize: 25px, $lineH: 34px);
    }

    .header{
        &__inner{
            padding: 15px 0;
        }

        &__logo{
            max-width: 50px;
        }
    }

    .banner{
        padding-top: 50px;
        padding-bottom: 230px;

        &__title{
            margin-bottom: 10px;
        }

        &__subtitle{
            @include textStyle($fontSize: 18px, $lineH: 26px);
        }
    }

    .about{
        padding: 80px 0;
        &__subtitle{
            @include textStyle($fontSize: 18px, $lineH: 26px);
        }
    }

    .features{
        margin-bottom: 80px;

        &__subtitle{
            @include textStyle($fontSize: 18px, $lineH: 26px);
        }

        &__item{
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    body{
        @include textStyle($fontSize: 14px, $lineH: 20px);
    }

    .banner {
        padding-top: 30px;
        padding-bottom: 180px;
    }

        .about{
            padding: 60px 0;
            &__inner{
                flex-direction: column;
                gap: 40px;
            }

            &__text {
                max-width: 100%;
                margin: 0 0 10px;
            }

            &__text-content {
            max-width: 100%;
            margin-top: 0;
            margin-right: 0;
        }
    }

    .features{
        padding-top: 0;
        margin-bottom: 60px;

        &__title{
            margin-bottom: 30px;
        }

        &__item{
            gap: 15px;
        }

        &__item-title{
            @include textStyle($fontSize: 18px, $lineH: 22px);
        }

        &__item-container-img {
            width: 45px;
            height: 45px;
            border-radius: 10px;
        }

        &__item-img {
            max-width: 40px;
        }
    }
    .footer{

        &__logo-img {
        max-width: 50px;
        }
    }
}

@media screen and (max-width: 480px){
    .title{
        @include textStyle($fontSize: 26px, $lineH: 34px);
    }

    .second-title{
        @include textStyle($fontSize: 22px, $lineH: 30px);
        letter-spacing: 1px;
    }

    .banner{
        padding-bottom: 200px;
        &__subtitle{
            @include textStyle($fontSize: 16px, $lineH: 24px);
            letter-spacing: 1px;
        }
    }

    .about{
        &__subtitle{
            @include textStyle($fontSize: 16px, $lineH: 24px);
        }

        &__title{
            margin-bottom: 30px;
        }
    }

    .features{
        &__subtitle{
            @include textStyle($fontSize: 16px, $lineH: 24px);
        }
    }

    .footer{
        &__social-list {
            gap: 40px;
        }

        &__copyright{
            @include textStyle($fontSize: 12px, $lineH: 16px);
        }
    }
}

@media screen and (max-width: 360px){
    .title{
        @include textStyle($fontSize: 23px, $lineH: 30px);
    }

    .second-title{
        @include textStyle($fontSize: 20px, $lineH: 28px);
        letter-spacing: 1px;
    }

    .banner{
        &__subtitle{
            @include textStyle($fontSize: 14px, $lineH: 20px);
        }
    }

    .about{
        &__img-content {
            max-width: 65%;
        }
    }
    .footer{
        &__social-list {
            gap: 35px;
        }
    }
}


